<section data-ng-controller="LessVariablesController" data-ng-init="findOne()">
    <span>{{lessVariable.created | date:'medium'}}</span> /
    <span>{{lessVariable.user.name}}</span>
    <h2>{{lessVariable.name}}</h2>
    <div data-ng-show="global.user._id == lessVariable.user._id">
        <a class="btn" href="/#!/lessVariables/{{lessVariable._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{lessVariable.property}}</div>
</section>
