<div class="protected">
	    <div class=" navbar navbar-static-top navbar-inverse" id="menuTop">
	        <div class="navbar-inner">
	            <div class="container">
	                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                </a>
	                <a class="brand" href="../index.html" title="Bootrstrap Magic written in AngularJS">Bootstrap Magic</a>
	                    <ul class="nav">
	                        <li><a href="../index.html" title="bootstrap themes generator presentation">Intro</a></li>
	                        <li class="divider-vertical"></li>
	                        <li ><a href="index.html#!/editor" title="bootstrap themes generator">Editor</a></li>
	                        <li class="divider-vertical"></li>
	                    </ul>
                        <select class="selectpicker" ng-model="sideBarSelection">
                                        <option value="show" selected>Show Toolbar</option>
                                        <option value="hide">Hide Toolbar</option>
                        </select>
                        <select class="selectpicker" ng-model="widthSelection">
                                        <option value="1200" selected >1200px and above</option>
                                        <option value="980">980 px and above</option>
                                        <option value="768">768 px and above</option>
                                        <option value="360">360 px and above</option>
                        </select>
                        <select class="selectpicker" ng-model="blockSelection">
                            <option value="Typography" selected>Text Block</option>
                            <option value="ImageBlock">Image Block</option>
                        </select>
	            </div>
	        </div>
	    </div>
	</div>
<div class="protected">
    <div class="navbar navbar-fixed-bottom" id="menuBottom" class="isEditor">
        <ul>
            <li><button class="btn btn-primary" ng-click="applyLess()">Apply</button></li>
            <li><label class="checkbox"><input type="checkbox" name="cssAutoapplyless" data-ng-model="autoapplyless">Auto</label></li>
            <li><button class="btn btn-info" ng-click="saveLessVariables()">Save Less Variables</button></li>
            <li><button class="btn btn-success" ng-click="saveCSS()">Save CSS</button></li>
            <li><label class="checkbox"><input type="checkbox" name="cssMinified" data-ng-model="minified">Minified</label></li>
            <li><button class="btn btn-warning" href="#myModal" role="button" data-toggle="modal">Import Less Variables</button></li>
            <li><button class="btn" ng-click="resetLessVariables()">Reset</button></li>
        </ul>
        <span class="sign">Handmade by <a href="http://www.pikock.com" title="create your website easily">Pikock</a> x <a href="http://www.autreplanete.com/" title="web agency paris">Autre planète</a> in Paris.</span>
    </div>
</div>

<div class="container">
    <form class="piEditor">
       
        <section ng-repeat="group in variables" class="{{ group.name }}">
            <div ng-show="blockSelection == group.name">
            <div class="row" class="protected" ng-show="sideBarSelection == 'show'">
                <div class="span12">
                    <h2 class="groupNameTitle" id="{{ group.name }}">{{ group.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="span4" ng-show="sideBarSelection == 'show'">
                    <div ng-repeat="variable in group.data" class="protected">
                        <label class="labelTitle">{{variable.key|labelName}}</label></td>                
                        <div data-ColorPickerApply="autoApplyLess()" class="input {' ap-color-picker: variable.value': colorpicker(variable.type)}" data-color="{{ color(variable.type, variable.value) }}" data-color-format="hex" ng-class="{'input-append color colorpicker' : colorpicker(variable.type)}">
                            <input id="appendedDropdownButton" type="text" data-ng-model="variable.value" class="span3 lessVariable">
                            <span class="add-on" ng-class="{ 'hidden' : !colorpicker(variable.type)}"><i></i></span>
                        </div>
                    </div>
                </div>
                <div class="span8">
                    <div data-ng-include src="getGroupUrl()"></div>
                </div>
            </div>
            </div>    
        </section>
    </form>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"><span class="apico games apico-cloud-upload"></span>Import your Less Variables</h3>
	</div>
	<div class="modal-body">
		<p>Add your less variables to Bootstrap Magic.</p>
		<textarea ng-model="importedVariables" rows="10" style="width: 97%" placeholder="Example @textColor : #242424;"></textarea>
	</div>
	<div class="modal-footer">
		<button  data-dismiss="modal" aria-hidden="true" class="btn btn-primary" ng-click="importLessVariables(importedVariables)">Import</button>
	</div>
</div>

